* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica;
  color: white;
  height: auto;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: scroll;
  background-color: #999;
}

.container {
  width: 700px;
  height: 100vh;
  display: flex;
  align-items: center;
  /* max-height: 80%; */
  /* box-shadow: 15px 15px 10px 10px rgba(0, 0, 0, 0.2); */
  /* background: linear-gradient(#3d3d3d, 80%, #666); */
  /* flex-direction: column; */
  /* padding: 30px; */
  /* box-sizing: border-box; */
}

h2 {
  margin-bottom: 10px;
}
