* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica;
  color: #000;
  font-weight: 700;
  text-shadow:
   -1px -1px 0 #fff,  
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
     1px 1px 0 #fff;
  height: auto;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: scroll;
  background: linear-gradient(217deg, #d5abffcc, #d5abff00 70.71%),
              linear-gradient(127deg, #d0e9feee, #d0e9fe00 70.71%),
              linear-gradient(336deg, #fed0d0ee, #fed0d000 70.71%);
}

.container {
  width: 700px;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  box-shadow: 0 0 2rem 1rem #00000066;
}
